.floating-button{
  background-color: #3dac9b;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  padding: 8px 20px;
  font-size: 23px;
  font-family: 'futura-pt';
  font-weight: 600;
  filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .2));
  img{
    height: 35px;
    padding-right: 5px;
    margin-bottom: -2px;
  }
}
.floating-button--large{
  z-index: 20;
  font-size: 40px;
  img{
    height: 35px;
    margin-right: -30px;
    margin-left: -30px;
  }
}
