.business-hotbar{
  //give nav it's own compsite layer
	will-change:transform;
	transform: translateZ(0);

  position: fixed;
  overflow-y: hidden;
  bottom: 0;
  height: 90vh;
  width: 100px;
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  align-items: center;
  .button{
    margin-top: 50px;
    text-decoration: none;
    img{
      height: 40px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    p{
      margin-top: 5px;
      font-size: 13px;
      text-align: center;

      color: black;
    }
  }
  @media only screen and (max-width: 1000px){
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    margin-top: 100vh;
    transform: translateY(-100%);
    position: fixed;
    z-index: 100000;
    height: 75px;
    width: 100%;
    left: 0;
    bottom: 0;
    .button{
        margin-top: 0px;
    }
  }
}

.hotbar-margin{
  transform: translate(5.5%);
  @media only screen and (max-width: 1000px){
    transform: translate(0);
  }
}

.business-layout-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px auto;
  width: 1000px;
  .header{
    grid-column: span 2;
  }
  @media only screen and (max-width: 1150px){
    width: 640px;
    grid-template-columns: 1fr;
    .header{
      grid-column: span 1;
    }
  }

  @media only screen and (max-width: 700px){
    margin: 20px;
    width: auto;
  }
}
