.fixed-hotbar{
    position: fixed;
    height: 80px;
    right: 0;
    display: flex;
    box-shadow: 5px 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    .business-nav{
      position: relative;
      background-color: white;
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
      //angled edge svg shape (left_nav_end_white.svg)
      .left-nav-end{
        position: relative;
        z-index: -1;
        img{
          filter: drop-shadow(0px 2px 4px rgba(0,0,0,.2));
          -webkit-filter: drop-shadow(0px 2px 2px rgba(0,0,0,.2));
          -moz-filter: drop-shadow(0px 2px 2px rgba(0,0,0,.2));
          height: 80px;
          //Exact spacing needed to attatch svg to div.
          margin-left: -102px;
          position: relative;
        }
      }
      .buttons{
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: space-around;
        font-weight: 400;
        //Move buttons over left-nav-end image
        margin-left: -70px;
        position: relative;
        z-index: 10;
        .button{
          color: black;
          text-decoration: none;
          text-align: center;
          font-size: 13px;
          width: 60px;
          position: relative;
          .dot{
            margin-top: 5px;
            transition: all .45s cubic-bezier(.25,.8,.25,1);
            margin-left: auto;
            margin-right: auto;
            height: 20px;
            width: 20px;
            background-color: #31d4b1;;
            border-radius: 50%;
            opacity: 0%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
          }
          p{
            transition: all .6s cubic-bezier(.25,.8,.25,1);
          }
          img{
            transition: all .45s cubic-bezier(.25,.8,.25,1);
            margin: auto;
            position: relative;
            height: 30px;
            margin-bottom: 3px;
            z-index: 10;
          }
        }
        .button:hover{
          color: #31d4b1;
          .dot{
            opacity: 25%;
            transform: scale(2);
            z-index: 5;
          }
          p{
            transform: scale(1.04);
            filter: drop-shadow(0px 0px 3px rgba(0,0,0,.1));
            -webkit-filter: drop-shadow(0px 0px 3px rgba(0,0,0,.1));
            -moz-filter: drop-shadow(0px 0px 3px rgba(0,0,0,.1));
          }
          img{
            transform: scale(1.1);
          }
        }
      }
    }
    //Hot bar controls container, an angled black notch (desktop_nav_notch.svg)
    .desktop-nav-notch{
      //Brings business-nav close to nav notch
      margin-left: -20px;
      position: relative;
      z-index: 10;
      img{
        height: 85px;
        filter: drop-shadow(0px 2px 2px rgba(0,0,0,.7));
        -webkit-filter: drop-shadow(0px 2px 2px rgba(0,0,0,.7));
        -moz-filter: drop-shadow(0px 2px 2px rgba(0,0,0,.7));
      }
      .notch-menu{
        display: flex;
        top: -28px;
        left: 12px;
        position: absolute;
        width: 100px;
        a{
          padding-top: 28px;
          padding-left: 20px;
          padding-right: 5px;
        }
        a:last-child{
          padding-right: 20px;
        }
        a:hover{
          img{
            opacity: 70%;
          }
        }
        img{
          width: 40px;
        }
      }
    }
}
